@using Resources.Res;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@WebResources.Title</title>
    @System.Web.Optimization.Styles.Render("~/Content/Layout")
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div id="Navbar" class="row">
        @{ 
            bool authenticated = User.Identity.IsAuthenticated;
        }
        <div id="navigation" class="col-md-10">
        @if (authenticated)
        {
            <div>@User.Identity.Name</div>
            @Html.ActionLink(WebResources.Hub, "Index", "Hub")
            @Html.ActionLink(WebResources.Home, "Index", "Home")
        }
        else
        {
            @Html.ActionLink(WebResources.Register, "Register", "Account")
            @Html.ActionLink(WebResources.Login, "Login", "Account")
        }
        </div>

        <div class="col-md-2">
            <div class="col-md-9">
                @Html.ActionLink(WebResources.Latvian, "Language", "Account", routeValues: new { culture = "lv-LV" }, htmlAttributes: new { @class = "LanguageSelection" })
                @Html.ActionLink(WebResources.English, "Language", "Account", routeValues: new { culture = "en-US" }, htmlAttributes: new { @class = "LanguageSelection" })
            </div>
            <div class="col-md-3">
                @if (authenticated)
                {
                    using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "Logout" }))
                    {
                            <input type="submit" value="@WebResources.LogOut" />
                            @Html.AntiForgeryToken()
                    }
                }
            </div>
        </div>
    </div>
    <div id="Content">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
