@using Resources.Res;
@using System.Threading
@using System.Globalization
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@WebResources.Title</title>
</head>
<body>
    <div id="Navbar">
        <p>@Thread.CurrentThread.CurrentCulture</p>
        @Html.ActionLink(WebResources.Register, "Register", "Account")
        @Html.ActionLink(WebResources.Login, "Login", "Account")
        @using (Html.BeginForm("Language", "Account", FormMethod.Post, new { id="Language" }))
        {

            @Html.RadioButton("name", "lv-LV", isChecked: false) @Html.Label(WebResources.Latvian)
            @Html.RadioButton("name", "en-US", isChecked: true) @Html.Label(WebResources.English)
            <input type="submit" value="@WebResources.ChangeLanguage" />
        }
    </div>
    <div id="Content">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
