@using Resources.Res;
@using System.Threading
@using System.Globalization
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@WebResources.Title</title>
</head>
<body>
    @System.Web.Optimization.Styles.Render("~/Content/Layout")
    <div id="Navbar">
        <div>
            @using (Html.BeginForm("Language", "Account", FormMethod.Post, new { id = "Language" }))
            {

                @Html.RadioButton("name", "lv-LV", isChecked: false) @Html.Label(WebResources.Latvian)
                @Html.RadioButton("name", "en-US", isChecked: true) @Html.Label(WebResources.English)
                <input type="submit" value="@WebResources.ChangeLanguage" />
            }
        </div>
        <div>
            @if (User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "Logout" }))
                {
                    <input type="submit" value="@WebResources.LogOut" />
                    @Html.AntiForgeryToken()
                }
            }
            else
            {
                <div>
                    @Html.ActionLink(WebResources.Register, "Register", "Account")
                    @Html.ActionLink(WebResources.Login, "Login", "Account")
                </div>
            }
        </div>
    </div>
    <div id="Content">
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
