@model NoteBoarrd.Models.LoginModel
@using Resources.Res
<div class="AuthForm">
    @using(Html.BeginForm())
    {
        <div class="EmailInput">
            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email)
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        <div>
            @Html.LabelFor(x => x.Password)
            @Html.PasswordFor(x => x.Password)
            @Html.ValidationMessageFor(x => x.Password)
        </div>
        @Html.AntiForgeryToken();
        <input type="submit" value="@WebResources.Login"/>
    }
    @Html.Partial("ExternalLogin")
</div>